<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/b3fa5b39-48ca-426e-bf30-6290751df484/resourceGroups/RAG/providers/Microsoft.ApiManagement/service/RAGapi/apis/RAG</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/b3fa5b39-48ca-426e-bf30-6290751df484/resourceGroups/RAG/providers/Microsoft.Web/sites/graphRAG</ResourceId>
    <ResourceGroup>RAG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://graphrag-hpffftgahjhddacp.eastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f5f4122a-88f0-24db-6de8-07f0d976b7b0</ProjectGuid>
    <PublishUrl>https://graphrag-hpffftgahjhddacp.scm.eastasia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>